
<div id="<%= dom_id post %>">
  <p>
    <strong>Patient Name:</strong>
    <%= post.patient %>
  </p>

  <p>
    <strong>Case:</strong>
    <%= post.case %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= post.gender %>
  </p>

</div>
