<p style="color: green"><%= notice %></p>


<h1>Reception</h1>

<br>

<div id="posts">
  <% $posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this patient details", post %>
      
    </p>
  <% end %>
</div>

<div class="box">
<%= link_to "New Patient", new_post_path %>
<br>
</div>

