/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
   /* .box {
    border: 2px solid green;
    width: 50%;
    background-color: #152733;
    color: lightcoral;
  }
    div {
        margin: 0 auto;
        padding: 10px;
      }

      section {
        border: 2px solid none;
        width: 50%;
        margin: 0 auto;
      }
  
  input[type=text], input[type=email], input[type=url]{
    width: 25%;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
  }
  
.center {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

li {
    margin-right: 0.5rem;
    text-indent: 5px;  
     
} */
